// -----------------------------------------------------------------------------
// 網站頁面整體布局
// -----------------------------------------------------------------------------

@use "./../abstracts" as *;

.layout {
  display: grid;
  grid-template-columns: 15% 1fr;
}

@media (max-width: 1024px) {
  .layout {
    display: block;
  }
}

// 避免頁面內容較少時，footer 往上跑
.main {
  min-height: 100vh;
}
