// -----------------------------------------------------------------------------
// 網站頁面整體布局
// -----------------------------------------------------------------------------

@use "./../abstracts" as *;

.layout {
  display: grid;
  grid-template-columns: 15% 1fr;
}

@media (max-width: $breakpoints-laptop) {
  .layout {
    display: block;
    overflow-x: hidden;
  }
}

// 避免頁面內容較少時，footer 往上跑
.main {
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.main--bg {
  background-image: linear-gradient(180deg, rgba($white, 0.7), rgba($white, 0.8)), url("/bg/pattern-bg.svg");
  background-size: 100%;
}
