// -----------------------------------------------------------------------------
// 網站的按鈕樣式
// -----------------------------------------------------------------------------

@use "./../abstracts" as *;

%btn {
  border: 2px solid $color-primary-900;
  padding: 1rem 2rem;
  color: $color-primary-900;
  letter-spacing: spacing(0.25);
  border-radius: $border-radius-base;
  transition: all 350ms ease;
  &:hover {
    border: 2px solid transparent;
    padding: 1rem 2rem;
    background-color: $color-primary-900;
    color: $white;
  }
}

.btn {
  @extend %btn;
}

.cta {
  @extend %skeuo;
  transition: all 500ms ease;
  position: relative;
  z-index: $z-mid;
  &:hover,
  &:active {
    box-shadow: $skeuo-pressed;
    text-shadow: none;
    color: $white;
    transform: scale(0.99);
  }
}

@media (max-width: 390px) {
  .cta {
    max-width: 250px;
  }
}
