// -----------------------------------------------------------------------------
// 網站的卡片元件樣式
// -----------------------------------------------------------------------------

@use "./../abstracts" as *;

%card {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-base;
  text-align: center;
}

.card {
  @extend %card;
}

// -----------------------------------------
// IconCard
.card--service {
  row-gap: spacing(2);
  width: 40%;
  max-width: 250px;
  background-color: $white;
  padding: spacing(3);
  box-shadow: $box-shadow-secondary-900;
  transition: all 500ms ease;
  &:hover {
    box-shadow: none;
  }
}

.card__icon {
  width: 100px;
  height: 100px;
  border-radius: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card__icon--neuro {
  background-image: url("/icons/neuro-before.svg");
}

.card:hover .card__icon--neuro {
  background-image: url("/icons/neuro-after.svg");
}

.card__icon--pain {
  background-image: url("/icons/chronic-pain-before.svg");
}

.card:hover .card__icon--pain {
  background-image: url("/icons/chronic-pain-after.svg");
}

.card__icon--sport {
  background-image: url("/icons/sport-injury-before.svg");
}

.card:hover .card__icon--sport {
  background-image: url("/icons/sport-injury-after.svg");
}

.card__icon--pregnancy {
  background-image: url("/icons/pregnancy-before.svg");
}

.card:hover .card__icon--pregnancy {
  background-image: url("/icons/pregnancy-after.svg");
}

// -----------------------------------------
// StepCard
.card--step {
  position: relative;
  display: grid;
  place-items: center;
  background-color: rgba($white, 0.5);
  backdrop-filter: blur(2px);
}

.card--step:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.card--step:nth-child(2) {
  grid-area: 2 / 2 / 3 / 3;
}

.card--step:nth-child(3) {
  grid-area: 3 / 3 / 4 / 4;
}

// border-image 無法兼容 border-radius，因此以 background 填色 + mask 剪裁出中間區塊
// 參考：https://stackoverflow.com/questions/51496204/border-gradient-with-border-radius
.card--step::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: $border-radius-base;
  padding: spacing(1);
  background: linear-gradient(180deg, $color-secondary-600, $color-primary-500);
  mask:
    linear-gradient($white 0 0) content-box,
    linear-gradient($white 0 0);
  mask-composite: exclude;
}

.card__num {
  position: absolute;
  top: spacing(4) * -1;
  left: 0;
  width: spacing(4);
  height: spacing(4);
  border-radius: 50% 50% 0;
  background-color: $color-secondary-600;
  color: $white;
}

.card__content {
  font-weight: 500;
  text-align: center;
  margin: spacing(4);
}

// -----------------------------------------
// NewsCard
.card--news {
  @extend %container;
  margin-bottom: spacing(3);
  background-color: $white;
  border-bottom: 2px solid $color-secondary-800;
  position: relative;
  z-index: 2;
  &:hover {
    box-shadow: $box-shadow-secondary-900;
  }
}

.card__meta {
  color: $color-primary-600;
}

.card__title {
  @include lineClamp(1);
  font-weight: 500;
  color: $color-primary-800;
  position: relative;
  z-index: 2;
}

.card__title--news {
  margin-bottom: 0;
}

.card__link {
  width: 100%;
  height: 100%;
  padding: spacing(5) spacing(4);
  display: flex;
  justify-content: space-between;
  font-size: $font-size-l;
  font-weight: 500;
  &:hover,
  &:active {
    opacity: 0.7;
  }
}

// -----------------------------------------
// StaffCard
.card--staff {
  max-width: 1100px;
  margin: spacing(8) auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 5%;
  background-image: url("/bg/mesh-gradient.png");
  padding: spacing(4);
  box-shadow: $box-shadow-secondary-900;
}

.card__img {
  object-fit: cover;
}

.card__pfp--right {
  order: 1;
}

.card__title--staff {
  display: flex;
  align-items: baseline;
  column-gap: spacing(1);
  margin-bottom: spacing(4);
}

.card__name {
  color: $color-primary-500;
  margin-bottom: 0;
  text-shadow: none;
}

.card__list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: spacing(4) spacing(8);
  text-align: left;
  font-size: $font-size-l;
  font-weight: 500;
}

.card__sublist {
  margin-top: spacing(2);
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 2;
}

// -----------------------------------------
// ArticleCard
.card--article {
  height: 250px;
  width: 400px;
  background-color: $color-secondary-100;
  border-radius: $border-radius-base;
  opacity: 0.7;
  border: 2px solid $color-secondary-100;
  position: relative;
  display: flex;
  justify-content: center;
}

.card--article::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: $color-secondary-100;
  border-radius: $border-radius-base;
  box-shadow: -8px 10px 16px $color-secondary-100, inset -6px 6px 10px $color-secondary-100, inset 2px 6px 10px $color-secondary-100, inset 20px -20px 22px white, inset 40px -40px 44px $color-secondary-50;
}

.card__title--article {
  @include lineClamp(2);
  font-size: $font-size-l;
  text-align: left;
  margin-inline: spacing(5);
}
