@use "./../abstracts" as *;

.header {
  padding: spacing(2);
  background: $gradient-header;
}

.header__list {
  position: sticky;
  // According to MDN: You must specify a threshold with at least one of top, right, bottom, or left for sticky positioning to behave as expected. Otherwise, it will be indistinguishable from relative positioning.
  top: spacing(2);
}

.brand {
  display: grid;
  row-gap: spacing(1);
  justify-items: center;
  margin-bottom: spacing(6);
}

.brand__logo {
  width: 75px;
  height: 75px;
}

.brand__title {
  font-weight: 500;
  text-align: center;
  letter-spacing: spacing(0.5);
}

.menu {
  display: grid;
  row-gap: spacing(2);
  justify-items: center;
  letter-spacing: spacing(0.2);
  margin-bottom: spacing(6);
}

.menu__item {
  opacity: 1;
  border-bottom: 2px solid transparent;
  &:hover,
  .active {
    opacity: 0.7;
    border-bottom: 2px solid $color-primary-700;
  }
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 350ms ease;
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

@media (max-width: 1024px) {
  .header,
  .header__list,
  .header__nav,
  .brand {
    display: flex;
  }

  .header {
    height: 80px;
  }

  .header__list {
    width: 100%;
  }

  .brand {
    align-items: center;
  }

  .header__nav {
    justify-content: space-between;
  }

  .menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}
