@use "./../abstracts" as *;

.header {
  padding: spacing(2);
  background: $gradient-header;
}

.header__list {
  position: sticky;
  // According to MDN: You must specify a threshold with at least one of top, right, bottom, or left for sticky positioning to behave as expected. Otherwise, it will be indistinguishable from relative positioning.
  top: spacing(2);
}

.brand {
  display: grid;
  row-gap: spacing(1);
  justify-items: center;
  margin-bottom: spacing(6);
}

.brand__title {
  font-weight: 500;
  text-align: center;
  letter-spacing: spacing(0.5);
}

.menu {
  display: grid;
  row-gap: spacing(2);
  justify-items: center;
  letter-spacing: spacing(0.2);
  margin-bottom: spacing(6);
}

.menu__item {
  opacity: 1;
  border-bottom: 2px solid transparent;
  &:hover,
  &.active {
    opacity: 0.7;
    border-bottom: 2px solid $color-primary-700;
  }
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 350ms ease;
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.hamburger__toggle {
  display: none;
}

@media (max-width: 1024px) {
  .header,
  .header__list,
  .header__nav,
  .brand {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .brand {
    margin-bottom: 0;
  }

  .brand__title {
    margin-left: spacing(1);
  }

  .header__list {
    width: 100%;
  }

  .header__nav {
    justify-content: space-between;
  }

  .menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    column-gap: spacing(3);
  }

  .header__btn {
    margin-left: spacing(4);
  }
}

@media (max-width: 960px) {
  .header {
    padding: 0;
  }

  .header__list {
    position: relative;
    padding-top: spacing(3);
    top: 0;
    z-index: 99;
    background-color: rgba($color-primary-50, 0.5);
  }

  .header__nav,
  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba($color-primary-50, 0.5);
  }

  .header__nav {
    position: absolute;
    top: 100%;
    background: rgba($color-primary-50, 0.5);
    backdrop-filter: blur(4px);
  }

  .hamburger__toggle {
    @include icon-btn;
    display: none;
  }

  .hamburger__wrapper {
    @include icon-btn;
    cursor: pointer;
  }

  .hamburger__icon {
    @include icon-btn;
    background-image: url("/icons/hamburger.svg");
    background-repeat: no-repeat;
  }

  .hamburger__toggle:checked + .hamburger__wrapper > .hamburger__icon {
    background-image: url("/icons/cross-mark.svg");
  }

  .hamburger__toggle ~ .header__nav {
    visibility: hidden;
    & ~ .header__nav .menu__item,
    & ~ .header__nav .header__btn {
      opacity: 0;
      height: 0;
      transition: all 0.3s ease-out;
    }
  }

  .hamburger__toggle:checked ~ .header__nav {
    visibility: visible;
    & ~ .header__nav .menu__item,
    & ~ .header__nav .header__btn {
      opacity: 1;
      height: 2rem;
      transition: all 0.3s ease-out;
    }
  }

  .menu {
    padding-block: spacing(3);
  }

  .header__btn {
    width: 100%;
    margin-left: 0;
    padding: spacing(2) 0 spacing(4) 0;
    background-color: rgba($color-primary-50, 0.5);
  }
}
