// -----------------------------------------------------------------------------
// 包含整個網站都會用到的 @extend, @mixin, @function
// -----------------------------------------------------------------------------

@use "./variables" as *;

// Spacing
@function spacing($multiplier) {
  // Calculate the spacing based on the multiplier
  @return 8px * $multiplier;
}

@function randomNum($min, $max) {
  $randomNum: $min + floor(random() * (($max - $min) + 1));
  @return $randomNum;
}

%container {
  width: 90%;
  margin: 0 auto;
}

%map-container {
  height: 500px;
  box-shadow: $box-shadow-secondary-900;
  border-radius: $border-radius-base;
  margin-bottom: spacing(8);
}

%list-section {
  border-radius: $border-radius-base;
  background-color: rgba($white, 0.9);
  background-image: linear-gradient(180deg, rgba($white, 0.7), rgba($white, 0.8)), url("/bg/pattern-bg.svg");
  background-size: cover;
  box-shadow: $box-shadow-secondary-900;
}
