// -----------------------------------------------------------------------------
// 包含整個網站都會用到的 @extend, @mixin, @function
// -----------------------------------------------------------------------------

@use "./variables" as *;

// Spacing
@function spacing($multiplier) {
  // Calculate the spacing based on the multiplier
  @return 8px * $multiplier;
}

%container {
  width: 90%;
  margin: 0 auto;
}

%section-card {
  border-radius: $border-radius-base;
  background-color: rgba($white, 0.9);
  background-image: linear-gradient(180deg, rgba($white, 0.7), rgba($white, 0.8)), url("@/assets/pattern-bg.svg");
  background-size: cover;
  box-shadow: $box-shadow-secondary-900;
}
