@use "./../abstracts" as *;
@use "./../components" as *;
@use "./../layout" as *;

.error__grid {
  text-align: center;
}

.error__img {
  width: 50%;
  margin: spacing(6) auto;
}

.error__text {
  margin-bottom: spacing(4);
}

.error__link {
  font-size: $font-size-xl;
  text-decoration: underline;
}
