@use "./../abstracts" as *;
@use "./../components" as *;
@use "./../layout" as *;

// -----------------------------------------
// Key visual
.kv {
  width: 100%;
  background-image: linear-gradient(180deg, rgba($color-primary-100, 0.5) 10%, rgba($color-primary-100, 0) 100%);
  position: relative;
}

.kv__grid {
  @extend %container;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100vh;
  align-items: center;
}

.kv__wrapper {
  height: 70%;
  grid-area: 1 / 1 / 2 / 7;
  position: relative;
  border-radius: $border-radius-base;
  overflow: hidden;
}

.kv__pic-bw {
  filter: grayscale(1);
  position: absolute;
  top: 0;
  left: 0;
}

.kv__pic-bw,
.kv__pic-color {
  object-fit: cover;
  transition: all 500ms ease;
}

.kv__slogan {
  grid-area: 1 / 6 / 2 / -1;
  display: grid;
  position: relative;
  z-index: 2;
}

.kv__title {
  color: $color-primary-600;
  text-shadow: $text-shadow-secondary-900;
  mix-blend-mode: multiply;
  margin-bottom: spacing(8);
}

.kv__accent {
  color: $color-secondary-800;
}

.kv__subtitle {
  justify-self: center;
  letter-spacing: spacing(0.25);
}

// -----------------------------------------
// About
.about {
  padding-bottom: $section-interval; // 這邊使用 padding 而不是 margin，以接續下方區塊的漸層
  background-image: linear-gradient(0deg, rgba($color-primary-100, 1) 10%, rgba($color-primary-100, 0) 100%);
}

.about__grid {
  @extend %container;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.about__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.about__deco {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
}

.about__wrapper {
  height: 100%;
  position: relative;
  z-index: 2;
  border-radius: $border-radius-base;
  overflow: hidden;
  &:hover .about__pic {
    transform: scale(1.05);
  }
}

.about__pic {
  transition: all 500ms ease;
}

.about__content {
  width: 70%; // 讓文字集中
  margin-bottom: spacing(8);
}

// Service
.service {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: spacing(6);
  align-items: center;
  background-image: linear-gradient(180deg, rgba($color-primary-100, 1) 10%, rgba($color-primary-100, 0) 100%);
  position: relative;
  padding-bottom: spacing(10);
}

.service__grid {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  row-gap: spacing(3);
  justify-content: space-evenly;
}

.service__deco {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

// Steps
.steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $section-interval 0;
  background-image: linear-gradient(180deg, rgba($white, 0.1), rgba($white, 0.8)) ,url("/bg/low-poly.svg");
}

.steps__grid {
  @extend %container;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 30%);
  padding: spacing(8) 0;
  gap: spacing(8) spacing(2);
}

// -----------------------------------------
// News topics
.topics {
  padding: 10% 0;
  background-image: $gradient-overlay, url("/photos/posture-correction.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.news {
  @extend %container;
  @extend %list-section;
  padding: spacing(8) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__grid {
  @extend %container;
  max-width: 1000px;
}

.topics__link {
  margin-top: spacing(8);
  display: flex;
  justify-content: center;
  align-items: center;
}
