@use "./../abstracts" as *;

.news--full {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border-radius: 0;
  padding: 0 0 $section-interval 0;
  background: linear-gradient(45deg, $color-primary-50, $color-secondary-50, $color-primary-200, $color-secondary-200);
  position: relative;
}

.news__meta {
  display: block;
  color: $color-primary-600;
  font-size: $font-size-l;
  margin-bottom: spacing(4);
}

.news__body {
  background-color: $white;
  padding: spacing(5) spacing(4);
  border-radius: $border-radius-base;
}

.news__title {
  font-weight: 500;
  color: $color-primary-800;
  font-size: $font-size-2xl;
  margin-bottom: spacing(2);
}

.news__content {
  line-height: 2;
}

.news__deco {
  width: 30%;
  transform: rotateY(180deg);
  opacity: 0.8;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
