@use "./../abstracts" as *;
@use "./../components" as *;
@use "./../layout" as *;

.team {
  width: 90%;
  margin: spacing(8) auto;
  display: grid;
  grid-template-rows: repeat(6, 600px);
  row-gap: spacing(8);
}
