@use "./../abstracts" as *;
@use "./../components" as *;
@use "./../layout" as *;

.team {
  width: 100%;
  margin: 0 auto;
}

.team__grid {
  @extend %container;
  padding-bottom: spacing(8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: spacing(8);
}
